<div class="row">
  <div class="span0 well text-center">
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: true), method: "post" do %>
        <i class="icon-arrow-up"></i>
      <% end %>
      <br/>
    <% end %>
    
    <%= post.vote_count %> votes
    
    <% if logged_in? %>  
      <br/>
      <%= link_to vote_post_path(post, vote: false), method: "post" do %>
        <i class="icon-arrow-down"></i>
      <% end %>
    <% end %>
  </div>
  
  <div class="span8 well">
    
    <%= render post.categories %>
    
    <h4><%= link_to post.title, post_path(post) %></h4>
    <p>
      <%= post.description %>
      <% if logged_in? %>
        <small>
            (<%= link_to 'edit', edit_post_path(post) %>)
        </small>
      <% end %>
    </p>
    <p>
      <small>
        <span class="quiet">posted by</span> <%= link_to post.user.username || "unknown", user_path(post.user) %>
        on <%= format_date(post.created_at) %>.
      </small>
      <small>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </small>
    </p>
  </div>
</div>