<%= render "shared/content_title", title: 'Add a Category' %>

<%= render "shared/errors", object: @category %>

<div class="well">
  <%= form_for @category do |f| %>
    <%= f.label :name, "Category Name:" %>
    <%= f.text_field :name %>
    <br/>
    <%= f.submit "Create Category", class: "btn btn-primary" %>
  <% end %>
</div>